name: Qodana

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  qodana:
    runs-on: ubuntu-latest
    
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3.6.0
          
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2023.2.6
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
