name: Qodana

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - next
      - release

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - name: Qodana Composite
        uses: Red-Studio-Ragnarok/Qodana-Composite@main
        with:
          qodana_token: ${{ secrets.QODANA_TOKEN }}
